* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: orange;
    max-height: 6vh;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}

nav ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    list-style: none;
}

nav ul li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: orange;
    transition-property: color, background-color;
    transition-duration: 0.5s;
}

nav ul li:hover a{
    color: orange;
    background-color: white;
    transition-duration: 0.5s;
}

.active {
    color: orange;
    background-color: white;
    transition-property: color, background-color;
    transition-duration: 0.5s;
}

nav ul li:hover ~ li .active {
    color: white;
    background-color: orange;
    transition-duration: 0.5s;
}

main {
    min-height: 92vh;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}

main h1,main h3 {
    color: saddlebrown;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

main p {
    padding-left: 10px;
    padding-right: 10px;
    color: orange;
    text-align: justify;
    text-indent: 1.5em;
}

main a {
    color: chocolate;
}

main a:visited {
    color: chocolate;
}

footer {
    border-top: 1px solid orange;
    max-height: 4vh;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

footer li {
    padding: 10px 15px;
    color: saddlebrown;
    font-weight: 600;
    cursor: pointer;
}

@media all and (max-width: 800px) {
    nav {
        max-height: 30vh;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav ul {
        flex-direction: column-reverse;
        text-align: center;
    }

    footer ul {
        flex-direction: column;
        text-align: center;
    }
}